#forget-page{
    font-family: 'Times New Roman', Times, serif;
     margin:30%;
     margin-top:10%;
     height:200px;
     width:500px;
     padding-left:8%;
     padding-right:3%;
     padding-top:3%;
     font-size:20px;
}

#ChangePwdPage{
    font-family: 'Times New Roman', Times, serif;
    margin:35% ;
    margin-top:12%;
    margin-bottom:0%;
    height:350px;
    width:500px;
    padding-left:0%;
    padding-right:0%;
    padding-top:2%;
    font-size:20px;
}

#changeBtn{
    margin-top:8%;
    margin-left:15%;
    width:300px;
}
