#forgetPage{
    font-family: 'Times New Roman', Times, serif;
     margin:30%;
     margin-top:15%;
     height:250px;
     width:500px;
     padding-left:0%;
     padding-right:0%;
     padding-top:2%;
     font-size:20px;
}

#ChangePwdPage{
    font-family: 'Times New Roman', Times, serif;
    margin:35% ;
    margin-top:12%;
    margin-bottom:0%;
    height:350px;
    width:500px;
    padding-left:0%;
    padding-right:0%;
    padding-top:2%;
    font-size:20px;
}

#changeBtn{
    margin-top:8%;
    margin-left:15%;
    width:300px;
}
.text-style{
    margin-left:-72%;
}

.text-style1{
    margin-left:-53%;
}
.text-style2{
    margin-left:-68%;
}
#conforPage{
    font-family: 'Times New Roman', Times, serif;
     margin:32%;
     margin-top:15%;
     height:250px;
     width:500px;
     padding-left:0%;
     padding-right:0%;
     padding-top:2%;
     font-size:20px;
}